{# Extendemos la plantilla base #}
{% extends 'AppCorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}
{% block content %}
<div class="centro">
    <h1>Matute</h1>
    <p>Matute</p>
    <p><a href="mailto:matute@gmail.com">Contacta</a></p>
    <p>Carreras organizadas:</p>
    <ol>
        <li><a href="/es/corredores/carreras/matutrail">Matutrail</a></li>

    </ol>
</div>
<div class="clear"></div> 
{% endblock %}
